<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autorrector</title>
</head>
<body>
  <h1>Autorrector</h1>
  <form method="post">
    <label for="texto">Ingresa el texto</label><br>
    <textarea id="texto" name="texto" rows="4" cols="50" required>{{ texto }}</textarea><br><br>
    <input type="submit" value="Enviar">
  </form>
  <p>O</p>
  <p>Selecciona multiples archivos de texto:</p>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="archivos" multiple accept=".txt" required><br><br>
    <input type="submit" value="Enviar archivos">
  </form>

  {% if texto_corregido %}
    <h2>Texto corregido:</h2>
    <p>{{ texto_corregido }}</p>
  {% endif %}
  {% if archivos_corregidos %}
    <h2>Archivos corregidos:</h2>
    <ul>
      {% for archivo in archivos_corregidos %}
        <li>
          <strong>{{ archivo.nombre }}</strong>
          <p>{{ archivo.texto_corregido }}</p>
          <a href="{{archivo.url}}">Descargar</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>